.rewardStr{
    padding: 3rem 0;
}
.implinks{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    flex-direction: column;
    gap: 10px;
    }
    .implinks button{
     border: none;
     outline: none;
     background-color: transparent;
    color: #1a0dab;
    font-size: .9rem;
    font-weight: 500;
    }
    .implinks .infoItem a{
     border: none;
     outline: none;
     background-color: transparent;
    color: #1a0dab;
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
    }
  .implinks button:hover{
   text-decoration: underline;
    }
    .implinks .infoItem a:hover{
   text-decoration: underline;
   color: #1a0dab;
    }
.rewardStr .rewdheading{
   font-weight: 600;
   font-size: 1.8rem;
}
.bgImg {
  position: relative;
  z-index: 0;
}

 .bgImg::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url(/images/reward-gift.webp); /* no ../../public */
  background-size: cover;
  background-position: center;
  opacity: 0.1; /* very transparent */
  z-index: -1;
}
.rewardStr .banner img{
   border-radius: 250px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   max-width: 100%;
}
.barndInfo {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1.2rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.barndInfo .ttl {
    font-weight: 600;
    margin-bottom: .5rem;
    font-size: 1.4rem;
    color: #222;
}
.barndInfo .stars {
    display: flex;
    gap: 5px;
    margin-bottom: 1rem;
}
.barndInfo .infoBox {
    margin-bottom: 1rem;
}
.barndInfo .infoHead {
    font-weight: 600;
    color: #000;
    font-size: 1rem;
}
.barndInfo .infoItem {
    font-weight: 500;
    color: #51596b;
    margin-bottom: .5rem;
    font-size: .9rem;
}
.barndInfo .stars svg {
    width: 16px;
    height: 16px;
    fill: #ffd43a;
}
.barndInfo .right .brandLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
}
.infoBox .infoItem button{
    border: none;
    outline: none;
    background-color: transparent;
    color: #1a0dab;
    text-align: left;
}
.infoBox .infoItem button:hover{
    text-decoration: underline;
}
.container{
    max-width: 1200px;
}
.rewardPage .imgBox img{
    object-fit: contain;
    max-width: 100%;
}
.rewardPage .txtBox{
    text-align: center;
}
.rewardPage .txtBox h1{
   font-weight: 600;
   font-size: 2.6rem;
   line-height: 1.4;
   margin-bottom: 1rem;
}
.rewardPage .txtBox h1 span{
   color: var(--primary-color);
   display: inline-block;
}
.rewardPage .txtBox .joinNow{
    padding: .5rem 1rem;
    display: inline-block;
    border-radius: 4px;
    background-color: var(--secondary-color);
    color: #fff;
    margin-bottom: 1.1rem;
    transition: all 0.3s ease-in-out;
}
.rewardPage .txtBox .joinNow:hover{
   background-color: var(--primary-color);
   box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.rewardPage .txtBox p {
   font-weight: 500;
   font-size: 1rem;
   color: #333;
}
.rewardPage .txtBox p a{
   color: var(--primary-color);

}
.rewardPage .txtBox p a:hover{
   text-decoration: underline;
}
.rewardPage .hashTag{
    color: #999;
    font-style: italic;
    font-weight: 400;
    line-height: 1.4;
}
@media(max-width: 550px){
    .rewardPage .txtBox h1 {
    font-size: 1.6rem;
}
}
/* modal */
 .giftModal .modal-dialog{
      max-width: 700px;
    }
    .giftModal .modal-dialog .modal-content{
      border-radius: 20px;
    }
    .giftModal .closeBtn{
      box-shadow: none;
      border: none;
      outline: none;
      background-color: transparent;
      border-radius: 10px;
      background-color: var(--primary-color);
      width: 2rem;
      height: 2rem;
      font-size: 1.2rem;
      color: #fff;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
     .giftModal .modal-title{
      font-weight: 600;
      font-size: 1.2rem;
    }
      .giftModal .modal-header{
      font-weight: 600;
      font-size: 1.2rem;
      padding: 2rem;
      border-bottom: none;
      padding-bottom: 0;
      padding-left: 1rem;
    }
     .giftModal .listItem{
     margin-bottom: 1.4rem;
    }
    .giftModal .listItem:nth-of-type(2) .method{
     background-color: #000;
    }
    .giftModal .listItem .method{
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 1.7rem;
    padding: .5rem 1.2rem;
    margin-bottom: 1rem;
    display: inline-flex;
    letter-spacing: .5px;
    font-size: .9rem;
    }
    ul.custom-list {
  list-style: none;
  padding-left: .5rem;
}

ul.custom-list li::before {
  content: "✔️"; 
  margin-right: 1rem;
  display: inline-block;
  width: 1em;
}
ul.custom-list li {
 color: #222;
 font-weight: 500;
 font-size: .9rem;
 margin-bottom: .8rem;
 display: flex;
}
.d-none{
  display: none !important;
}
/* faqs */
 .faq-section {
      max-width: 1000px;
      margin: auto;
      padding: 2rem;
    }

    .faq-header {
      text-align: center;
      margin-bottom: 2rem;
    }

    .faq-header h2 {
      font-size: 2rem;
      color: #2c3e50;
    }

 

    .faq-card {
      background-color: #ffffff;
      border-radius: 12px;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
      padding: 1.5rem;
      transition: transform 0.3s ease;
      margin-bottom: 1rem;
    }

    .faq-card:hover {
      transform: translateY(-5px);
    }

  

    .faq-answer {
      font-size: 0.95rem;
      color: #555;
      line-height: 1.6;
    }

    .faq-answer p {
      margin-bottom: 0.8rem;
    }

    .faq-answer ul,
    .faq-answer ol {
      padding-left: 1.2rem;
      margin-bottom: 0.8rem;
    }

    .faq-answer li {
      margin-bottom: 0.4rem;
    }

    @media (max-width: 600px) {
      .faq-header h2 {
        font-size: 1.4rem;
      }
      .rewardStr .rewdheading {
        font-size: 1.4rem;
        margin-top: 1rem;
      }
       .faq-section {
      padding: 2rem 0;
    }

    }

        .about-container {
          display: flex;
          flex-wrap: wrap;
          max-width: 1100px;
          margin: auto;
          gap: 2rem;
          align-items: center;
        }

        .about-text h2 {
          font-size: 2rem;
          color: #2c3e50;
          margin-bottom: 1rem;
        }

        .about-text p {
          font-size: 1rem;
          color: #555;
          margin-bottom: 1rem;
          line-height: 1.6;
        }

        .about-text ul,
        .about-text ol {
          padding-left: 25px;
          margin-bottom: 1rem;
        }
        
          .about-text ul {
          list-style-type: disc;
        }
           .about-text ol {
          list-style-type: decimal;
        }

        .about-text li {
          margin-bottom: 0.5rem;
          font-size: 0.95rem;
          color: #333;
        }


        @media (max-width: 768px) {
          .about-container {
            flex-direction: column;
            padding: .5rem;
          }

          .about-text h2 {
            font-size: 1.8rem;
          }
        }
      /* top brand */
       .topBrands{
        padding: 2rem 0;
         background: #f8fafc;
    }
    
        .topBrands h2 {
          font-size: 2rem;
          color: #2c3e50;
          margin-bottom: 1rem;
        }
    .brand-card {
      background: #fff;
      border-radius: 18px;
      padding: 1.5rem 1rem;
      box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      position: relative;
      display: block;
      min-height: 100%;
    }

    .brand-card:hover {
      transform: translateY(-6px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    }

    .brand-grid .brand-logo {
      width: 100px;
      height: 80px;
      object-fit: contain;
    }

    .brand-grid .brand-category {
      color: #6b7280;
      font-size: 0.9rem;
      margin-bottom: 0.25rem;
    }

    .brand-grid .brand-name {
      font-weight: 600;
      color: #1f2937;
      margin-bottom: 0.5rem;
    }

    .brand-grid .brand-discount {
      font-weight: bold;
      font-size: 0.95rem;
      color: #E63946;
    }

    .brand-grid .discount-badge {
      position: absolute;
      top: -10px;
      right: -10px;
      background: #003B94;
      color: white;
      padding: 0.25rem 0.6rem;
      font-size: 0.75rem;
      border-radius: 999px;
      font-weight: 500;
    }
    

    @media (max-width: 600px) {
      .brand-grid .brand-card {
        padding: 1rem;
      }

      .brand-grid .brand-logo {
        width: 50px;
        height: 50px;
      }
         .brand-grid .discount-badge {
     
      padding: 0.25rem 0.3rem;
      font-size: 0.6rem;
    }
    .topBrands h2{
      font-size: 1.4rem;
    }
    .hideOnePhone{
      display: none;
    }
    .rewardStr{
      padding-top: 0;
    }
    .noPadding{
      padding: 0;
    }
    .faq-card{
      padding:  .5rem;
    }
    .faq-header{
      margin-bottom: .5rem;
    }
    .about-store-section{
      padding-bottom: 1rem;
    }
  }

  #giveRating .storeBtn{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    align-items: center;
  }
    #giveRating .storeBtn a{
    border: 1px solid red;
    padding: .3rem 1rem;
    font-size: .9rem;
    border-radius: 4px;
    color: #fff;
    border: none;
    outline: none;
  }
   #giveRating .storeBtn a:nth-of-type(1){
    background-color: var(--primary-color);
  }
    #giveRating .storeBtn a:nth-of-type(2){
    background-color: #6c757e;
  }

.faqssec .accordion-button {
    background-color: #f8f9fa;
    font-weight: 500;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 8px !important;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    padding: .8rem .5rem;
    display: flex;
    box-shadow: none;
}


    .faqssec .accordion-button:not(.collapsed) {
      background-color: var(--primary-color);
      color: #fff;
      box-shadow: 0 0 10px rgba(13, 110, 253, 0.3);
      display: flex;
    }

    .faqssec .accordion-item {
      border: none;
      margin-bottom: 1rem;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    }

    .faqssec .accordion-body {
      background-color: #ffffff;
      border-radius: 0 0 8px 8px;
      padding: 1rem .5rem;
    }
.accordion-button::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 16 16'%3E%3Cpath d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg);
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(180deg);
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}
 .secHeading{
    font-weight: 600;
    font-size: 1.4rem;
    color: #000;
    letter-spacing: .5px;
    margin-bottom: 1rem;
 }
 .faqssec{
  padding: 2rem 0;
 }
 /* reward-section */
.rewards-section {
          padding: 30px 20px;
          text-align: center;
        }

        .rewards-section h2 {
          font-weight: 600;
          font-size: 2.2rem;
          margin-bottom: 40px;
          color: #4B0082;
        }

        .reward-box {
          margin-bottom: 40px;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          padding: 20px;
          border-radius: 12px;
        }

        .reward-box:hover {
          transform: translateY(-5px);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
          background-color: #f9f9f9;
        }

        .reward-icon {
          font-size: 40px;
          color: #4B9E9E;
          margin-bottom: 15px;
        }

        .reward-title {
          font-weight: 700;
          font-size: 1.2rem;
          color: #111;
        }

        .reward-desc {
          color: #6c757d;
          font-size: 0.95rem;
          margin-top: 5px;
        }
        
        @media(max-width:560px){
            .rewards-section h2 {
                font-size: 1.4rem;
                margin-bottom: 1rem;
            }
            .rewardPage{
                padding-bottom: 0;
            }
            .rewards-section{
                padding-top: 0;
            }
            .reward-box{
                margin-bottom: 10px;
            }
        }
    .headingone{
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    }
    /* top rated brand */
    .topBrands{
        padding: 2rem 0;
         background: #f8fafc;
    }
    .brand-card {
      background: #fff;
      border-radius: 18px;
      padding: 1.5rem 1rem;
      box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      position: relative;
      display: block;
      min-height: 100%;
    }

    .brand-card:hover {
      transform: translateY(-6px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    }

    .brand-grid .brand-logo {
      width: 100px;
      height: 80px;
      object-fit: contain;
    }

    .brand-grid .brand-category {
      color: #6b7280;
      font-size: 0.9rem;
      margin-bottom: 0.25rem;
    }

    .brand-grid .brand-name {
      font-weight: 600;
      color: #1f2937;
      margin-bottom: 0.5rem;
    }

    .brand-grid .brand-discount {
      font-weight: bold;
      font-size: 0.95rem;
      color: #E63946;
    }

    .brand-grid .discount-badge {
      position: absolute;
      top: -10px;
      right: -10px;
      background: #003B94;
      color: white;
      padding: 0.25rem 0.6rem;
      font-size: 0.75rem;
      border-radius: 999px;
      font-weight: 500;
    }
    

    @media (max-width: 600px) {
      .brand-grid .brand-card {
        padding: 1rem;
      }

      .brand-grid .brand-logo {
        width: 50px;
        height: 50px;
      }
         .brand-grid .discount-badge {
     
      padding: 0.25rem 0.3rem;
      font-size: 0.6rem;
    }
    }
    .secHeading {
    font-weight: 600;
    font-size: 1.4rem;
    color: #000;
    letter-spacing: .5px;
    margin-bottom: 1rem;
}
 .uploadSS{
        text-align: center;
        display: flex;
        justify-content: center;
      }
      .implinks .infoItem.uploadSS a{
       background-color: var(--primary-color);
       color: #fff;
       border-radius: 4px;
       padding: .5rem;

      }
         .implinks .infoItem.uploadSS a:hover{
      text-decoration: none;

      }

 
       .upldPurchasess .upload-btn {
          background-color: #4b0082; /* Purple */
          color: white;
          padding: 10px 25px;
          border: none;
          border-radius: 25px;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
          transition: background 0.3s ease;
        }
        .upldPurchasess .upload-btn:hover {
          background-color: #360061;
        }

        .upldPurchasess .preview-container {
          margin-top: 15px;
          display: flex;
            align-items: flex-start;
          gap: 15px;
        }

        .upldPurchasess .preview-img {
          width: 80%;
          height: 300px;
          border-radius: 10px;
          border: 2px solid #ddd;
        }

         .upldPurchasess .delete-btn {
          background: #e63946;
          color: white;
          padding: 8px 16px;
          border: none;
          border-radius: 20px;
          font-size: 14px;
          cursor: pointer;
          transition: background 0.3s ease;
        }
        .upldPurchasess .delete-btn:hover {
          background: #b71c1c;
        }
        .upldPurchasess.giftModal .listItem {
          text-align: center;
        }
  .container.yelloBg .reward-box {
  background: #fff;
  min-height: 240px;
}
.reward-desc small {
    font-size: .65rem;
    display: inline-block;
}