.form-floating-custom {
          position: relative;
          margin-bottom: 1.5rem;
        }
        .form-floating-custom input {
          padding-top: .5rem;
          height: auto;
        }
        .form-floating-custom label {
          position: absolute;
          top: 0.5rem;
          left: 1.5rem;
          font-size: 0.85rem;
          color: #6c757d;
          transition: all 0.2s ease;
        }
        .form-floating-custom input:focus + label,
        .form-floating-custom input:not(:placeholder-shown) + label {
          top: -0.6rem;
          left: 2rem;
          font-size: 0.75rem;
          background: #fff;
          padding: 0 0.25rem;
          color: #0d6efd;
        }
        .userInfo{
            padding: 3rem 0;
        }
          .userInfo h1{
           font-weight: 600;
           font-size: 1.4rem;
           color: #000;
           line-height: 1.4;
        }
       .userInfo  .form-control{
        box-shadow: none;
       }